.card {
    width: 600px;
    margin: 80px;
  }
  
  .card-body {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Vertically center the icons and text */
    font-size: 24px;
    margin-top: 10px;
  }
  
  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-text {
    margin-top: -10px;
    font-size: 14px;
    text-align: center;
  }
  
  .message-css {
    margin-left: 20px;
  }
  
  .circle-dot-css {
    margin-left: 20px;
  }

  .checkbox-label input[type="checkbox"] {
    transform: scale(1.5); /* Adjust the scale value as needed */
    margin-right: 5px; /* Add some spacing to the right of the checkbox */
  }